.parent{
    width: 75%;
    border: 1px solid red;
    margin: auto;
}
.child{
    width: 100%;
    text-align: center;
}
.ballon{
    width:100px;
    height:100px; 
    border-radius: 100%; 
    margin: 3rem; 
    background-color: green; 
}