.parent{
    width: 75%;
    border: 1px solid red;
    margin: auto;
}
.child{
    width: 100%;
    text-align: center;
}
a{
    text-decoration: none;
    margin-left: 15px;
    color: black;
}
button{
    padding: 20px;
     color: white;
     background-color: blue;
     margin: 5px;
}